<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="teamengine-integration-testing">
  <test name="ets-gml32">
    <classes>
      <class name="com.occamlab.te.integrationtesting.IntegrationTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->